.idea
.vscode
.gradle
.settings
*build
local.properties
lib-*.aar
/Release

# AI
.claude

# 签名
*.jks

# APK输出目录
TV/app/arm64_v8a
TV/app/armeabi_v7a
TV/app/mobileArm64_v8a
TV/app/mobileArmeabi_v7a
TV/app/leanbackArm64_v8a
TV/app/leanbackArmeabi_v7a
**/*.apk
