.idea
.vscode
.gradle
.settings
*build
local.properties
lib-*.aar
/Release

# git子模块
media3

# AI
.claude
.qoderignore

# 签名
*.jks

# APK输出目录
wawa_player/app/mobileArm64_v8a
wawa_player/app/mobileArmeabi_v7a
wawa_player/app/tvArm64_v8a
wawa_player/app/tvArmeabi_v7a
**/*.apk
